.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.q {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.c {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.qDetail {
  width: 300px;
}
.cDetail {
  width: 300px;
}
